{% extends "layout.html" %}
{% block body %}
  <h1 class="page-header">{{title}} - {{phase}}</h1>

  <p>
    <a class="btn {% if phase == 'alpha' %} btn-primary {% else %} btn-default {% endif %}" href="/monitoring/hosts/alpha">alpha</a>
    <a class="btn {% if phase == 'sandbox' %} btn-primary {% else %} btn-default {% endif %}" href="/monitoring/hosts/sandbox">sandbox</a>
    <a class="btn {% if phase == 'beta' %} btn-primary {% else %} btn-default {% endif %}" href="/monitoring/hosts/beta">beta</a>
    <a class="btn {% if phase == 'cbt' %} btn-primary {% else %} btn-default {% endif %}" href="/monitoring/hosts/cbt">cbt</a>
    <a class="btn {% if phase == 'real' %} btn-primary {% else %} btn-default {% endif %}" href="/monitoring/hosts/real">real</a>
  </p>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Phase</th>
        <th>Project</th>
        <th>Host</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
    {% for row in list %}
      <tr>
        <td>{{row.phase}}</td>
        <td>{{row.project}}</td>
        <td>{{row.host}}</td>
        <td>
          {% if row.active %}
          <span class="label label-success">{{row.active}}</span>
          {% else %}
          <span class="label label-danger">{{row.active}}</span>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}